<!DOCTYPE html>
<html>
<head>
  <title>Vsh</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render navigation_partial %>
<%= render 'layouts/messages' %>
<%= link_to t('user') %>
<%= yield %>

</body>
</html>
